.product-header{
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom:2em;
    margin-left:2.5em;
}

@media (max-width: 768px) {
    .product-header{
        opacity: 0;
        width: 0%;
    }
    .logo {
        font-size: 2em;
        margin-right: 0px;
    }
}